<h2>About</h2>

<p>Red Artisan is passionate about the development of elegant, boutique and compelling software experiences.</p>

<p>We specialise in the creation of exceptional Web and iPhone applications, with a focus on quality, performance and elegance in design and implementation.</p>

<p>We use innovative tools such as Ruby on Rails, Sinatra, and the iPhone SDK to create a personal and empowering experience, and believe strongly in incremental improvement and constant feedback.</p>

<p>We place high value in providing elegant solutions, that not only excel technically, but provide a strong foundation for delivering results into the long term.</p>

<p>We believe success is measured not only by building software that works, but by delivering a product that is elegant in design, quality of build, and mindful of scale, performance, and maintenance.</p>

<p>We extensively use test driven development, continuous integration, constantly refactor and improve upon our code, and follow an incremental and iterative system of adding features while integrating constant feedback, and aren't afraid to adapt to change.</p>

<p>Finally, we believe strongly in delivering a professional result.</p>
