<h2>About</h2>

<p><strong>Red Artisan is <a href="mailto:crafterm@redartisan.com">Marcus Crafter</a>, a Melbourne based software developer passionate about the development of boutique and compelling experiences.</strong></p>

<p>I specialise in the creation of exceptional Web and iPhone applications, with focus on quality, elegance and performance in design and implementation.</p>

<p>Red Artisan uses innovative tools such as <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://sinatrarb.com">Sinatra</a>, and the <a href="http://developer.apple.com/iphone">iPhone SDK</a> to create remarkable applications with empowering user experiences, and believe strongly in incremental improvement and constant feedback.</p>

<p>I place high value in providing elegant solutions that not only excel technically, but provide a strong foundation for delivering results into the long term. Success is measured not only by building software that works, but by delivering a product that is elegant in design, quality of build, and mindful of scale.</p>

<p>Technically, this means I make extensive use of test driven development, continuous integration, and constant refactoring to improve our code. Features are added in an incremental and iterative fashion, while integrating constant feedback and not being afraid to adapt to change.</p>

<p>Finally, Red Artisan believes strongly in delivering a professional result.</p>
