<div class="hentry">
<h2><%=h @post.title %></h2>
<div class="vcard">
  posted by crafterm, <span class="published"><%=h @post.posted.strftime('%d %B %Y') %></span>
</div>
<%= highlight(markup(File.read(@post.content))) %>
</div>
