<% @posts.each do |post| %>
<!-- erb :article, :post => post -->
<div class="hentry">
<h2><a href="<%= post.url %>"><%=h post.title %></a></h2>
<div class="vcard">
    posted by crafterm, <span class="published"><%=h post.posted %></span>
</div>
<%= markup File.read(post.content) %>
</div>
<% end %>