<h2>Contact Details</h2>

<p>Email: <a href="mailto:crafterm@redartisan.com">crafterm@redartisan.com</a></p>

<p>
Postal Address:
</p>

<p>
Red Artisan Pty Ltd<br/>
PO Box 1037<br/>
South Melbourne, VIC, 3205<br/>
Australia<br/>
</p>

<p>
Phone: +61 3 9690 4546<br/>
Mobile: +61 424 147 350<br/>
Skype: <a href="skype:crafterm?call">crafterm</a><br/>
AIM: marcuscrafter<br/>
</p>

<p>Working with Rails: <a href="http://www.workingwithrails.com/person/5768-marcus-crafter">crafterm</a></p>

<p>
<a href="http://twitter.com/crafterm">Twitter</a>
<a href="http://www.linkedin.com/in/crafterm">LinkedIn</a>
<a href="https://www.xing.com/profile/Marcus_Crafter">Xing</a>
<a href="http://github.com/crafterm">GitHub</a>
</p>