<h2>Contact</h2>

<iframe style="float:right" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=South+Melbourne+VIC,+Australia&amp;sll=-37.814251,144.963169&amp;sspn=0.119475,0.151577&amp;ie=UTF8&amp;t=h&amp;ll=-37.811411,144.96769&amp;spn=0.047466,0.072956&amp;z=13&amp;output=embed"></iframe>

<p>Contact Red Artisan to discuss how we can help you excel with your next project.</p>

<p>Red Artisan is located in South Melbourne, Australia, just a few kilometres south of the Melbourne CBD, close to the beach, Albert Park Lake, and near the vibrant South Melbourne market and surrounding boutique cafes.</p>

<p>You can contact <a href="mailto:crafterm@redartisan.com">Marcus Crafter</a> at Red Artisan via email, post or online below:</p>

<div id="hcard-Red-Artisan" class="vcard">
 <h3><a class="url fn org" href="http://redartisan.com">Red Artisan</a></h3>
 <p><strong>Email</strong> <a class="email" href="mailto:crafterm@redartisan.com">crafterm@redartisan.com</a></p>
 
 <p><strong>Post</strong></p>
 <div class="adr">
  <div class="po-box">PO Box 1037</div>
  <span class="locality">South Melbourne</span>, <span class="region">VIC</span>, <span class="postal-code">3205</span>
  <span class="country-name">Australia</span>
 </div>
 <div class="tel">+61 424 147 350</div>
 
 <p><strong>Online</strong></p>
 <a class="url" href="aim:goim?screenname=marcuscrafter">AIM</a>
 <a class="url" href="xmpp:crafterm@gmail.com">GTalk</a>
 <a class="url" href="skype:crafterm?call">Skype</a>
</div>


<p>
<a href="http://github.com/crafterm">GitHub</a>
<a href="http://twitter.com/crafterm">Twitter</a>
<a href="http://www.linkedin.com/in/crafterm">LinkedIn</a>
<a href="https://www.xing.com/profile/Marcus_Crafter">Xing</a><br />
<a href="http://www.workingwithrails.com/person/5768-marcus-crafter">Working With Rails</a>
</p>