<h2>Contact Details</h2>

<div id="hcard-Marcus-Crafter" class="vcard">
 <a class="url fn" href="http://redartisan.com">Marcus Crafter</a>
 <div class="org">Red Artisan Pty Ltd</div>
 <a class="email" href="mailto:crafterm@redartisan.com">crafterm@redartisan.com</a>
 <div class="adr">
  <div class="po-box">PO Box 1037</div>
  <span class="locality">South Melbourne</span>
, <span class="region">VIC</span>
, <span class="postal-code">3205</span>
  <span class="country-name">Australia</span>
 </div>
 <div class="tel">+61 424 147 350</div>
 <a class="url" href="aim:goim?screenname=marcuscrafter">AIM</a>
 <a class="url" href="xmpp:crafterm@gmail.com">Jabber</a>
 <a class="url" href="skype:crafterm?call">Skype</a>
</div>


<p>Working with Rails: <a href="http://www.workingwithrails.com/person/5768-marcus-crafter">crafterm</a></p>

<p>
<a href="http://github.com/crafterm">GitHub</a>
<a href="http://twitter.com/crafterm">Twitter</a>
<a href="http://www.linkedin.com/in/crafterm">LinkedIn</a>
<a href="https://www.xing.com/profile/Marcus_Crafter">Xing</a>
</p>