<h2>About Red Artisan</h2>

<p>Red Artisan specialises in the creation of next generation web 2.0 sites, focusing on <i>quality</i>, <i>performance</i> and <i>elegance</i> in design and implementation.</p>

<p>Using technologies such as <a href="http://rubyonrails.org/">Ruby on Rails</a>, the <a href="http://developer.apple.com/iphone">iPhone</a>, and Agile development principles, Red Artisan is passionate about the development of innovative and stylish applications that stand out from the competition.</p>

<p>Founded in 2007 by <a href="mailto:crafterm@redartisan.com">Marcus Crafter</a>, with over 10 years development experience in the software industry, Red Artisan offers development services to help create your internet presence.</p>

<p>Based in Melbourne, Australia, and with clients located around the world, <a href="/contact">contact</a> Red Artisan to let us show you how we can help you succeed.</p>
