<div class="col-1-2 first-row">
  
  <h2 class="title" id="title-ruby-development"><a href="/contact" title="Ruby on Rails Web Development">Ruby on Rails Web Development</a></h2>
  
  <p class="stand-out">Ruby on Rails transformed the way I think about building web applications.</p>

  <p>I use <a href="http://www.ruby-lang.org/">Ruby</a> because it's an exciting and compelling technology that empowers me to build professional and quality software fast, while remaining nimble to react to change.</p>

  <p>Technically, Ruby's flexible, dynamic and object oriented nature leads one to model elegant and stylish solutions.</p>

  <p>Like the characteristics of fine red wine, I use a blend of tools to complement web development services, namely Ruby on Rails and Sinatra.</p>

  <p><a href="http://rubyonrails.org/">Rails</a>, because it leverages the power of Ruby and brings it to the web. Rails conventions free the developer to start creating immediate value without having to satisfy the requirements of large frameworks before writing a line of code.</p>

  <p><a href="http://www.sinatrarb.com/">Sinatra</a>, because its light design and compact mindset encourages one to build focused web applications and services rapidly.</p>
  
</div>

<div class="col-1-2 first-row">
  <h2 class="title" id="title-iphone-development"><a href="/contact" title="iPhone Software Development">iPhone Software Development</a></h2>
  
  <p class="stand-out">The iPhone revolutionised how I think about user experience.</p>

  <p>I use and develop applications for the <a href="http://www.apple.com/iphone">iPhone</a> simply because I believe it to be the most innovative and compelling mobile device available.</p>

  <p>I'm addicted to how intimate and empowering the iPhone user experience can be, and believe the depth of interaction iPhone applications can offer, still lies unexplored.</p>

  <p>Technically, I enjoy writing iPhone applications in Objective-C, a language that shares it's Smalltalk heritage with Ruby, and find the iPhone SDK's rich features and toolset a joy to use.</p>

  <p>I also find the iPhone to complement the web, and excel in providing applications with innovative interfaces for working with online content and consuming web services.</p>

  <p>The iPhone is one of the most exciting and inspiring inventions ever made.</p>
  
</div>

<div class="divider">
  <hr size="1" noshade="noshade" />
</div>

<div class="col-1-3">
  <h3 class="title" id="title-red-artisan-blog"><a href="/blog" title="Red Artisan Blog">Red Artisan Blog</a></h3>
  
  <p>Latest insights and tips from Red Artisan, catering to Ruby and iPhone developers alike:</p>

  <% @posts.each do |post| %> 
  <p><a href="<%= post.url %>"><%= post.title %></a></p> 
  <% end %>
</div>

<div class="col-1-3">
  <h3 class="title" id="title-about-red-artisan"><a href="/about" title="About Red Artisan">About Red Artisan</a></h3>
  
  <p>Red Artisan is <a href="mailto:crafterm@redartisan.com">Marcus Crafter</a>, a Melbourne based software developer passionate about the development of boutique and compelling experiences.</p>

  <p>I specialise in the creation of exceptional Web and iPhone applications, with focus on quality, elegance and performance in design and implementation.</p>
</div>

<div class="col-1-3"> <h3 class="title" id="title-contact-red-artisan"><a href="/contact" title="Contact Red Artisan">Contact Red Artisan</a></h3>

<p><a href="/contact">Contact</a> Marcus Crafter at Red Artisan to discuss how together we can excel with your next project.</p>

<p><strong>Email: </strong><a href="mailto:crafterm@redartisan.com">crafterm@redartisan.com</a><br/> <strong>Phone: </strong>+61 424 147 350</p> </div>