<div class="col-1-2 first-row">
	<h2 class="title" id="title-ruby-development"><a href="#" title="Ruby on Rails System Development">Ruby on Rails System Development</a></h2>
    <p><strong>Ruby on Rails transformed the way we think about building web applications.</strong></p>

    <p>We use <a href="http://www.ruby-lang.org/">Ruby</a> because it's an exciting and compelling technology that doesn't hurt. It allows us to build professional and quality software fast, while being nimble to react to change.</p>

    <p>Technically, Ruby's flexible/expressive, dynamic, object oriented and message passing nature let's use think of solutions that model the real world of our clients domain.</p>

    <p>Like the characteristics of fine red wine, we use a blend of tools to complement our web development services, namely Rails and Sinatra.</p>

    <p>We use <a href="http://rubyonrails.org/">Rails</a> because its leverages the power of Ruby and brings it to the web. Rails conventions allow us to get on with the job of building immediate business value rather than having to satisfy the requirements of large frameworks and environments before writing a line of code.</p>

    <p>We use <a href="http://www.sinatrarb.com/">Sinatra</a> because its light design and compact mindset allows us to build focused web services rapidly.</p>
	<p><a href="/ruby"><strong>Learn More &raquo;</strong></a></p>
</div>
<div class="col-1-2 first-row">
	<h2 class="title" id="title-iphone-development"><a href="#" title="iPhone Software Development">iPhone Software Development</a></h2>
    <p><strong>The iPhone revolutionised how we think about user experience.</strong></p>

    <p>We use and develop applications for the <a href="http://www.apple.com/iphone">iPhone</a> simply because we believe it to be the most innovative and compelling mobile device that exists.</p>
    
    <p>We're addicted to how intimate and empowering the iPhone user experience can be, and believe the depth of interaction a user may have with the iPhone still lies unexplored.</p>

    <p>Technically, we enjoy writing iPhone applications in Objective-C, a language that shares a Smalltalk heritage with Ruby, and we find the iPhone SDK's rich feature and toolset a joy to use.</p>
    
    <p>We also find that the iPhone complements the web and excels in providing applications with innovative interfaces for working with online content and consuming web services.</p>
    
	<p><a href="/iphone"><strong>Learn More &raquo;</strong></a></p>
</div>
<div class="divider"><hr size="1" noshade="noshade" /></div>
<div class="col-1-3">
	<h3 class="title" id="title-red-artisan-blog"><a href="#" title="Red Artisan Blog">Red Artisan Blog</a></h3>
	<p>The latest insights and development tips from Red Artisan, catering to Ruby and iPhone developers and enthusiasts alike.</p>
	<p><strong>Latest Posts:</strong></p>
<% @posts.each do |post| %>
  <p><a href="<%= post.url %>"><%= post.title %></a></p>
<% end %>
</div>
<div class="col-1-3">
	<h3 class="title" id="title-about-red-artisan"><a href="/about" title="About Red Artisan">About Red Artisan</a></h3>
	<p>Red Artisan is passionate about the development of elegant, boutique and compelling software experiences.</p>

    <p>We specialise in the creation of exceptional Web and iPhone applications, with a focus on quality, performance and elegance in design and implementation.</p>

    <p>We use innovative tools such as Ruby on Rails, Sinatra, and the iPhone SDK to create a personal and empowering experience, and believe strongly in incremental improvement and constant feedback.</p>
    
    <p><a href="/about"><strong>Learn More &raquo;</strong></a></p>
</div>
<div class="col-1-3">
	<h3 class="title" id="title-contact-red-artisan"><a href="/contact" title="Contact Red Artisan">Contact Red Artisan</a></h3>

	<div id="hcard-Red-Artisan" class="vcard">
    	<p>Get in touch with <a class="url fn" href="http://redartisan.com">Red Artisan</a><br/> to assist with your next Ruby on Rails project or iPhone app.</p>		
	    <p><strong>Email:</strong> <a class="email" href="mailto:crafterm@redartisan.com">crafterm@redartisan.com</a></p>
    	<p>
	        <strong>Address: <span class="org">Red Artisan Pty Ltd</span></strong><br/>
        	<div class="adr">
            	<span class="po-box">PO Box 1037</span><br/>
            	<span class="locality">South Melbourne</span>, <span class="region">VIC</span>, <span class="postal-code">3205</span><br />
            	<span class="country-name">Australia</span>
        	</div>
    	</p>
    	Phone: <span class="tel">+61 424 147 350</span>
	</div>
</div>